@import url('./style.css');

.main {
   padding: 230px 0 80px;
   overflow: hidden;
}

.main__inner {
   position: relative;
}

.main-back__btn {
   margin: 0 0 28px 0;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
}

.main-back__btn img {
   margin: 0 8px 0 0;
}

.main__title {
   max-width: 700px;
}

.main__desc {
   max-width: 579px;
}

.main__img-1,
.main__img-2 {
   position: absolute;
   z-index: -1;
}

.main__img-1 {
   top: -160px;
   right: 90px;
}

.main__img-2 {
   bottom: -170px;
   right: -38px;
}

/* ------------------------------------------------------- */

.servicesInfo {
   padding: 40px 0;
}

.servicesInfo__inner {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 12px;
}

.servicesInfo__card {
   padding: 36px 40px;
   background: #EAEAFA;
   border-radius: 18px;
}

.servicesInfo-card__number {
   margin-bottom: 72px;
}

.servicesInfo-card__desc {}

.servicesInfo-card-1 {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
}

.servicesInfo-card-2 {
   grid-column-start: 5;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 2;
}

.servicesInfo-card-3 {
   grid-column-start: 9;
   grid-column-end: 13;
   grid-row-start: 1;
   grid-row-end: 2;
}

.servicesInfo-card-4 {
   grid-column-start: 1;
   grid-column-end: 7;
   grid-row-start: 2;
   grid-row-end: 3;
}

.servicesInfo-card-5 {
   grid-column-start: 7;
   grid-column-end: 13;
   grid-row-start: 2;
   grid-row-end: 3;
}

@media (max-width: 1250px) {
   .main__img-1 {
      width: 450px;
      top: -70px;
      right: 30px;
   }

   .main__img-2 {
      width: 280px;
      bottom: -80px;
      right: -38px;
   }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 425px) {}