@import url('./style.css');

.main {
   padding: 230px 0 80px;
   overflow: hidden;
}

.main__inner {
   position: relative;
}

.main-back__btn {
   padding-bottom: 28px;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   cursor: pointer;
}

.main-back__btn img {
   margin: 0 8px 0 0;
}

.main__title {
   max-width: 700px;
   margin: 28px 0 40px 0;
}

.main__desc {
   max-width: 579px;
}

.main__img-1,
.main__img-2 {
   position: absolute;
   z-index: -1;
}

.main__img-1 {
   top: -160px;
   right: 90px;
}

.main__img-2 {
   bottom: -170px;
   right: -38px;
}

/* ------------------------------------------------------- */

.servicesInfo {
   padding: 40px 0;
}

.servicesInfo__inner {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 12px;
}

.servicesInfo__card {
   padding: 36px 40px;
   background: #EAEAFA;
   border-radius: 18px;
}

.servicesInfo-card__number {
   margin-bottom: 72px;
}

.servicesInfo-card__desc {}

.servicesInfo-card-1 {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
}

.servicesInfo-card-2 {
   grid-column-start: 5;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 2;
}

.servicesInfo-card-3 {
   grid-column-start: 9;
   grid-column-end: 13;
   grid-row-start: 1;
   grid-row-end: 2;
}

.servicesInfo-card-4 {
   grid-column-start: 1;
   grid-column-end: 7;
   grid-row-start: 2;
   grid-row-end: 3;
}

.servicesInfo-card-5 {
   grid-column-start: 7;
   grid-column-end: 13;
   grid-row-start: 2;
   grid-row-end: 3;
}

@media (max-width: 1250px) {
   .main__img-1 {
      width: 450px;
      top: -70px;
      right: 30px;
   }

   .main__img-2 {
      width: 280px;
      bottom: -80px;
      right: -38px;
   }
}

@media (max-width: 1024px) {
   .main__img-1 {
      width: 320px;
      top: -20px;
      right: 0;
   }

   .main__img-2 {
      width: 210px;
      bottom: 0;
      right: -38px;
   }
}

@media (max-width: 856px) {
   .main {
      padding: 445px 0 40px;
      position: relative;
   }

   .main__title {
      margin: 16px 0 28px 0;
   }

   .main-mobile__bg {
      position: absolute;
      top: -100px;
      left: -100px;
      width: 1000px;
      height: 439px;
      z-index: -1;
      background: linear-gradient(0deg, #ADACEC, #ADACEC), #312FD0;
      border-radius: 29px 0px 29px 29px;
      transform: matrix(-0.98, 0.17, 0.17, 0.98, 0, 0);
   }

   .main__img-1 {
      width: 279px;
      top: -340px;
      right: calc(50% - (279px / 2) + 20px);
   }

   .main__img-2 {
      width: 160px;
      bottom: auto;
      right: calc(50% - (160px / 2) - 100px);
      top: -180px;
   }
}

@media (max-width: 768px) {
   .servicesInfo__inner {
      display: flex;
      flex-wrap: wrap;
   }

   .servicesInfo__card {
      padding: 24px;
   }
   .servicesInfo-card__number {
      margin-bottom: 32px;
   }

   .servicesInfo {
      padding: 0 0 40px;
   }

}

@media (max-width: 425px) {}