@import url('./normalize.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./font/stylesheet.css');
@import url('./font/TestFoundersGroteskX-Condensed/stylesheet.css');

html {
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}


body {
   background: #FFFFFF;
   color: #12114C;
   width: 100%;
   font-family: 'Helvetica Now Display';
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 36px;
}

.btn {
   width: fit-content;
   height: 48px;
   background: #FFFFFF;
   border: none;
   border-radius: 8px;
   padding: 12px 24px;
   display: flex;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   transition: 0.3s all;
   position: relative;
}

.btn span {
   background: linear-gradient(85.54deg, #1CD6B4 -32.98%, #002BD1 96.38%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.btn::before {
   content: '';
   position: absolute;
   z-index: -1;
   top: -1px;
   left: -1px;
   right: -1px;
   bottom: -1px;
   background: linear-gradient(85.54deg, #1CD6B4 -32.98%, #002BD1 96.38%);
   border-radius: 8px;
}

.btn:hover {

   background: inherit;
}

.btn:hover span {
   background: linear-gradient(85.54deg, #FFFFFF -32.98%, #FFFFFF 96.38%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.first-page-btn {
   background: linear-gradient(90deg, #1CD6B4 0%, #002BD1 100%), #232296;
   border-radius: 8px;
   padding: 12px 24px;
   position: relative;
   transition: 0.3s all;
   border: none;
}

.first-page-btn span {
   color: #FFFFFF;
}

.first-page-btn:hover {
   background: #FFFFFF;
}

.first-page-btn:hover span {
   background: linear-gradient(85.54deg, #1CD6B4 -32.98%, #002BD1 96.38%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.first-page-btn:hover::before {
   content: '';
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(85.54deg, #1CD6B4 -32.98%, #002BD1 96.38%);
   border-radius: 8px;
}

.second-page-btn {
   border-radius: 8px;
   background: inherit;
   padding: 12px 24px;
   display: flex;
   align-items: center;
   width: fit-content;
   transition: 0.3s all;
}

.second-page-btn img {
   margin-left: 8px;
}

.goModal-btn {
   border-radius: 12px;
   padding: 16px;
   display: flex;
   gap: 20px;
   background: #FFFFFF;
   stroke: #000000;
   color: #000000;
   width: fit-content;
   align-items: center;
   font-size: 18px;
   line-height: 24px;
   border: 1px solid #FFFFFF;
   transition: 0.5s all;
}

.goModal-btn:hover {
   color: #FFFFFF;
   stroke: #FFFFFF;
   background: inherit;
}

.with-bg {
   position: relative;
}

.bg-img {
   position: absolute;
}

.cut {
   display: block;
}

.underline {
   text-decoration: underline;
}

.grey {
   opacity: 0.4;
}

.orange {
   color: #ED9507;
}

.input {
   color: #FFF;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   outline: none;
   border: none;
   height: 50px;
   background: rgba(255, 255, 255, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.15);
   border-radius: 6px;
   padding: 12px 24px;
   position: relative;
   width: 100%;
}

::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder {
   color: #FFF;
}

::-moz-placeholder {
   color: #FFF;
}

:-ms-input-placeholder {
   color: #FFF;
}

.block-header {
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: rgba(255, 255, 255, 0.4);
   margin-bottom: 32px;
}

.block-heading__title {}

.block-heading__number {}

.title {
   font-family: 'Test Founders Grotesk X-Condensed';
   font-weight: 600;
   font-size: 70px;
   line-height: 66px;
   text-transform: uppercase;
}

.subtitle {
   font-family: 'Test Founders Grotesk X-Condensed';
   font-weight: 600;
   font-size: 86px;
   line-height: 76px;
   text-transform: uppercase;
}

.heading {
   font-family: 'Test Founders Grotesk X-Condensed';
   font-weight: 600;
   font-size: 36px;
   line-height: 34px;
}

.desc {
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
}

.subdesc {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
}



/* ---------------------------------------------------------- */

.whatWeDo {
   overflow: hidden;
   background: #EAEAFB;
   border-radius: 40px;
   padding: 40px 0 80px;
}

.whatWeDo__inner {
   text-align: center;
   position: relative;
}

.block-option {
   margin-bottom: 60px;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
}

.whatWeDo-list__wrapper {
   position: relative;
   z-index: 5;
}

.whatWeDo__list {}

.whatWeDo-list__point {
   padding: 12px 24px;
   cursor: pointer;
   opacity: 0.2;
}

.whatWeDo-list__bottom {
   display: flex;
   justify-content: center;
}

.whatWeDo-list__bottom .whatWeDo-list__point:first-child {
   padding: 0 28px;
   border-right: 2px solid #12114C;
}

.whatWeDo-list__bottom .whatWeDo-list__point:last-child {
   padding: 0 28px;
   border-left: 2px solid #12114C;
}

.whatWeDo-list__img {
   position: absolute;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.list-img-1 {
   width: 500px;
   left: -180px;
   bottom: -180px;
   z-index: 1;
}

.list-img-2 {
   width: 340px;
   top: -40px;
   right: -40px;
}

.clicked {
   opacity: 1;
   text-decoration: underline;
}

.show {
   opacity: 1;
}

/* ---------------------------------------------------------- */

.getStarted {
   padding: 80px 0;
}

.getStarted__inner {
   display: flex;
   justify-content: space-between;
}

.getStarted__title {
   max-width: 800px;
}

.getStarted__link {
   max-width: 584px;
}

.getStarted__desc {
   max-width: 332px;
   margin-bottom: 32px;
}

.getStarted__btn {}

.getStarted-btn__icon {
   padding: 0 6px;
   background: linear-gradient(85.54deg, #1CD6B4 -32.98%, #002BD1 96.38%);
   border-radius: 4px;
   margin-left: 10px;
}

.getStarted__btn:hover .getStarted-btn__icon {
   background: transparent;
}

.getStarted-btn__icon svg {
   fill: #FFFFFF;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.name-input-errorMessage,
.email-input-errorMessage,
.subject-input-errorMessage {
   color: red;
   display: none;
   margin-top: -8px;
}

.errorMessage-visible {
   display: block !important;
}

/* ---------------------------------------------------------- */

.swiper-scrollbar {}

.swiper-scrollbar-drag {
   background: #00000032 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
   content: "" !important;
}

/* ---------------------------------------------------------- */

/* свойства модального окна по умолчанию */
.modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: #5A59D9;
   color: #FFFFFF !important;
   z-index: 1050;
   opacity: 0;
   pointer-events: none;
   overflow: hidden;
   transition: 0.7s all;
}

.modal .nav__menu {
   color: #FFFFFF !important;
   left: calc(50% - 350px/2 - 60px);
   top: calc(50% - 44px/2);
   border: 1px solid rgba(255, 255, 255, 0.16);
   border-radius: 97px;
}

/* при отображении модального окно */
.modal:target {
   opacity: 1;
   pointer-events: auto;
   overflow-y: auto;
}

.modal-header__links {
   width: 32px;
   height: 32px;
   background: #EAEAFB;
   border-radius: 800px;
   padding: 5px 9px;
}

.modal__close-btn {
   padding: 7px 9px;
}

.modal__content {
   padding: 144px 0 40px;
}

.modal-content__inner {
   display: flex;
   justify-content: space-between;
}

.modal__info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.modal-info__desc {
   max-width: 139px;
   opacity: 0.4;
}

.modal-info__text {}

.modal-info__address {
   margin-bottom: 20px;
}

.modal-info__links {}

.modal-info__linkedin {
   margin-right: 20px;
}

.underline {}

.modal-info__email {}

.modal__form-wrapper {
   max-width: 780px;
}

.modal-form__title {
   margin-bottom: 48px;
}

.modal__title-mobile {
   display: none;
}

/* FORM START */


.form__wrap {
   max-width: fit-content;
   height: fit-content;
   flex-wrap: wrap;
   color: #FFFFFF;
}

.form__wrap .input {
   margin-bottom: 12px;
}

.form__error-message {
   margin-left: 24px;
}

.form__success-message {
   max-width: 690px;
   height: 346px;
   background: rgba(255, 255, 255, 0.2);
   box-shadow: 0px 4px 36px -4px rgba(255, 255, 255, 0.12);
   border-radius: 12px;
   padding: 100px;
}

.succes__icon {
   margin-right: 48px;
}

.success__text {}

.seccess__title {
   margin-bottom: 28px;
}

.title {}

.success__desc {}

.form__success-message,
.form__error-message {
   display: none;
}

.form--hidden {
   display: none;
}

.form__success-message--visible {
   display: flex !important;
}

.input__wrap {
   display: flex;
}

.input__inner {
   width: 392px;
   margin-right: 12px;
}

.input__inner:last-child {
   margin-right: 0;
}

.input-withMessage {
   width: 100%;
}

.modal__name {}

.input__name {}

.modal__surname {}

.input__surname {}

.modal__email {}

.input__email {}

.modal__subject {}

.input__subject {}

.modal__message {}

.input__message {
   font-family: 'Helvetica Now Display';
   height: 154px;
   resize: none;
}

.checkbox {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.checkbox__wrap {
   position: relative;
}

.input__checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0;
}

.input__checkbox+label {
   display: inline-flex;
   user-select: none;
}

.input__checkbox+label::before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   flex-shrink: 0;
   flex-grow: 0;
   border: 0.5px solid rgba(255, 255, 255, 0.16);
   backdrop-filter: blur(13px);
   border-radius: 6px;
   margin-right: 12px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.input__checkbox:not(:disabled):not(:checked)+label:hover::before {
   border: 0.5px solid rgba(255, 255, 255, 0.16);
}

/* стили для активного чекбокса (при нажатии на него) */
.input__checkbox:not(:disabled):active+label::before {
   background: #ED9507;
   border-color: rgba(255, 255, 255, 0.16);
   ;
}

/* стили для чекбокса, находящегося в состоянии checked */
.input__checkbox:checked+label::before {
   border-color: #FFFFFF;
   background-color: #ED9507;
   background-image: url("../images/checkbox-checked.svg");
}

.checkbox {
   margin-bottom: 1em;
}

.modal__checkbox {}

.modal__checkbox {}

.form-modal__btn,
.form-modal__btn1,
.succes__btn,
.ooops__btn {}

.modal__btn-wrap {
   display: flex;
   width: 648px;
}

.succes__btn {
   width: 319px;
   height: 54px;
   text-align: center;
   display: flex;
   justify-content: center;
}

.ooops__btn {
   width: 219px;
   height: 54px;
   display: flex;
   justify-content: center;
}

.invalid {
   border: 1px solid red !important;
   color: red !important;
}

/* FORM END */

/* GOMODAL START */



.goModal {
   padding: 100px 0 50px;
}

.goModal__inner {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.goModal__title {
   font-weight: 800;
   font-size: 48px;
   line-height: 56px;
   margin-bottom: 16px;
}

.goModal__subtitle {
   font-weight: 600;
   font-size: 24px;
   line-height: 32px;
   margin-bottom: 48px;
}

.goModal__desc {
   font-weight: 600;
   font-size: 18px;
   line-height: 34px;
   opacity: 0.8;
   margin-bottom: 24px;
}

.goModal__btn {}

.succes__icon {
   margin-bottom: 24px;
}

/* GOMODAL END */

/* --------------------------------------------------- */

@media screen and (max-width: 1300px) {
   .list-img-1 {
      width: 323px;
      left: -140px;
      bottom: -180px;
      z-index: 1;
   }

   .list-img-2 {
      width: 232px;
      top: -90px;
      right: -80px;
   }

   .modal-info__desc {
      max-width: fit-content;
      margin-bottom: 12px;
   }

   .modal-form__title {
      display: none;
   }

   .modal__title-mobile {
      display: block;
      margin-bottom: 36px;
   }

   .modal__content {
      padding: 120px 0 40px;
   }

   .modal-info__text {
      display: flex;
      flex-direction: column-reverse;
   }

   .modal-info__links {
      margin-bottom: 20px;
   }

   .modal-info__address br {
      display: none;
   }
}

@media screen and (max-width: 1150px) {
   .modal-content__inner {
      flex-direction: column;
   }
}

@media screen and (max-width: 1024px) {
   .goModal {
      padding: 42px 0;
   }

   .goModal__title {
      font-size: 39px;
      line-height: 56px;
   }

   .goModal__subtitle {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 32px;
   }

   .getStarted {
      padding: 40px 0;
   }

   .getStarted__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .getStarted__btn {
      margin: 0 auto;
   }

   .getStarted__title {
      margin-bottom: 36px;
   }

   .getStarted__desc {
      margin-bottom: 16px;
   }

}

@media (max-width: 864px) {}

@media screen and (max-width: 768px) {
   .container {
      padding: 0 40px;
   }

   .first-page-btn {
      padding: 14px 14px;
      border-radius: 6px;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      align-items: center;
      width: 159.5px;
      height: 44px;
      text-align: center;
   }

   .second-page-btn {
      border-radius: 6px;
      padding: 6px 14px;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      width: 159.5px;
      height: 44px;
   }

   .title {
      font-weight: 600;
      font-size: 48px;
      line-height: 44px;
   }

   .subtitle {
      font-weight: 600;
      font-size: 32px;
      line-height: 30px;
   }

   .heading {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
   }

   .desc {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
   }

   .subdesc {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
   }

   .btn {
      height: 40px;
      border-radius: 6px;
      padding: 6px 14px;
      align-items: center;
   }

   .navbar .header__modal-btn {
      border: 1px solid #FFFFFF;
      background: transparent !important;
   }

   .navbar .header__modal-btn span {
      background: linear-gradient(85.54deg, #fff -32.98%, #fff 96.38%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   .navbar .btn::before {
      background: transparent !important;
   }

   .getStarted-btn__icon {
      padding: 2px 4px;
   }

   .input__wrap {
      width: 100%;
   }

   .getStarted__title {
      max-width: 584px;
   }

   .form__success-message {
      max-width: 690px;
      height: fit-content;
      padding: 28px 45px;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .getStarted__desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
   }

   .succes__icon {
      margin: 0 auto 24px;
   }

   .modal__title-mobile {
      font-weight: 600 !important;
      font-size: 38px !important;
      line-height: 40px !important;
   }

   .input {
      height: 44px;
      padding: 8px;
   }

   .input__message {
      height: 44px;
   }

   .block-option {
      opacity: 0.4;
      font-weight: 700;
      font-size: 9px;
      line-height: 12px;
   }
}

@media screen and (max-width: 650px) {
   .input__wrap {
      flex-direction: column;
   }

   .input__inner {
      width: 100%;
   }

   .input {
      width: 100%;
   }

   .whatWeDo {
      overflow: hidden;
      background: #EAEAFB;
      border-radius: 20px;
      padding: 40px 0 80px;
   }

   .list-img-1 {
      width: 146px;
      left: -50px;
      bottom: -120px;
      z-index: 1;
   }

   .list-img-2 {
      width: 125px;
      top: -60px;
      right: -55px;
   }
}

@media screen and (max-width: 500px) {
   .container {
      padding: 0 16px;
   }

   .goModal__title {
      font-size: 30px;
      line-height: 42px;
   }

   .goModal__subtitle {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 16px;
   }

   .goModal__desc {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
   }


}